/*Set a certain rule for a div*/
html {
	font-size:100%;
	overflow-y:scroll;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}

/*The whole page*/
body{
    margin: 0;
	font-size:15px;
    height: 100%;
    width: 100%;
	line-height:1.231;
}

#main{
    margin-left: 40px;
}

#main .scrollablePage{
    height: 100%;
    width: 100%;
    background: #aaaaaa;
}

/*BANNER SECTION*/
.homepage .hellobox {
    position:fixed;
	height:500px;
	width: 100%;
	text-align:center;
	-webkit-animation:fadeIn 1s;
	-moz-animation:fadeIn 1s;
	background:#333 no-repeat center bottom;
	background-size: cover;
	border-top: 1px solid transparent;
}

.shoppage .hellobox{
    position: fixed;
    height: 100px;
	width: 100%;
	margin: 0;
	top:0;
	text-align:center;
	-webkit-animation:fadeIn 1s;
	-moz-animation:fadeIn 1s;
	background:#333 no-repeat center bottom;
	background-size: cover;
}

/*WISH SECTION*/
#wishMenu {
    background: #ffd800;
    color: #eee;
    position: fixed; /*We want it to be a fixed position --> specifically drawn in place where we want it to be*/
    height: auto;
    overflow: visible;
    width: 150px;
    top: 0;
    right: 0;
}

#wishListMenu{
    font-style: normal;
}

/*SIDEBAR SECTION*/
/*Sidebar color underneath icons of sidebar menu*/
.setSide-BarColor{
    position: fixed;
    margin: 0;
    height: 100%;
    width: 40px;
    background:#000;
}

/*SEARCH SECTION*/
/*Dedicated search section for shop page*/
#main .scrollablePage #searchSection{
    position: fixed;
    height: 100%;
    width: 15%;
	background:#bbbbbb;
	border-top: 1px solid transparent
}

#searchSection #searchQuery{
    margin-top: 5px;
    margin-left: 5px;
}

#searchSection .searchCriteria{
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
}

/* TABLE SECTION */
#main .scrollablePage #viewingTable{
    width: 75%;
    margin-left: 20%;
}

#main .scrollablePage #viewingTable .table-shop{
    margin-top: 100px;
}

#main .scrollablePage #viewingTable .table-shop .resultsTable {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
  vertical-align: middle;
}

/*Title name of tables*/
.table-shop #tableSearch th {
  position: fixed;
  font-size: medium;
  font-weight: 100;
  padding: 10px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

.table-shop #tableSearch #tableName{
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  position: relative;
  color:#D5DDE5;
  background:#1b1e24;
  width: 60%;
}

.table-shop #tableSearch #tableDate{
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  position: relative;
  color:#D5DDE5;
  background:#1b1e24;
  width: 10%;
}

.table-shop #tableSearch #tableLowPrice{
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  position: relative;
  color:#D5DDE5;
  background:#1b1e24;
  width: 10%;
}

.table-shop #tableSearch #tablePrice{
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  position: relative;
  color:#D5DDE5;
  background:#1b1e24;
  width: 10%;
}

.table-shop #tableSearch #tableURL{
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  position: relative;
  color:#D5DDE5;
  background:#1b1e24;
  width: 5%;
}

.table-shop #tableSearch #tablePhoto{
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  position: relative;
  color:#D5DDE5;
  background:#1b1e24;
  width: 5%; /*70px --> This value was set as the width size of the picture*/
}


body,button,input,select,textarea {
	/*font-family: 'Helvetica Neue', Helvetica, Arial, 'sans-serif';*/
	font-family: 'Source Sans Pro', sans-serif;
	color:#222;
}

a {
  color: #4A90E2;
}
a:focus {
	outline:thin dotted;
}
a:hover,a:active {
	outline:0;
}
b,strong {
	font-weight:bold;
}
pre,code {
	font-family:monospace,monospace;
	_font-family:'courier new',monospace;
	font-size:1em;
}
pre {
	white-space:pre;
	white-space:pre-wrap;
	word-wrap:break-word;
}
ul,ol {
	margin:1em 0;
	padding:0 0 0 40px;
}
dd {
	margin:0 0 0 40px;
}
nav ul,nav ol {
	list-style:none;
	list-style-image:none;
	margin:0;
	padding:0;
}
img {
	border:0;
	-ms-interpolation-mode:bicubic;
	vertical-align:middle;
}
header a {
	display:block;
	text-indent:-6000px;
	color:#fff;
	overflow:hidden;
	width:45px;
	height:45px;
	background: #00b858;
	margin:50px;
}
@-webkit-keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}

.wrap {
	width: 660px;
	margin: 0 auto;
}

@-webkit-keyframes shakey {
	0% {
		-webkit-transform:rotate3d(0,0,0,0deg)
	}
	25% {
		-webkit-transform:rotate3d(0,0,0,2deg)
	}
	75% {
		-webkit-transform:rotate3d(0,0,0,-2deg)
	}
	100% {
		-webkit-transform:rotate3d(0,0,0,0deg)
	}
}
@-moz-keyframes shakey {
	0% {
		-moz-transform:rotate(0deg)
	}
	25% {
		-moz-transform:rotate(2deg)
	}
	75% {
		-moz-transform:rotate(-2deg)
	}
	100% {
		-moz-transform:rotate(0deg)
	}
}

.homepage h1 {
	font-weight:500;
	font-size:8em;
	font-style: italic;
	letter-spacing:5px;
	color:#fff;
	text-align:center;
	margin: 0;
	text-shadow:0 0 30px rgba(58,93,125,0.67);
	line-height:3em;
	-webkit-animation:shakey .2s ease-in-out alternate;
	-moz-animation:shakey .2s ease-in-out alternate;
	-webkit-animation-delay:1s;
	-webkit-transform:translate3d(0,0,0) transition:all .2s linear;
	-o-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear;
}

.shoppage h1{
	font-weight:100;
	font-size:3em;
	font-style: italic;
	letter-spacing:5px;
	color:#fff;
	text-align:center;
	margin: 0;
	text-shadow:0 0 10px rgba(58,93,125,0.67);
	line-height:2em;
	-webkit-animation:shakey .2s ease-in-out alternate;
	-moz-animation:shakey .2s ease-in-out alternate;
	-webkit-animation-delay:1s;
	-webkit-transform:translate3d(0,0,0) transition:all .2s linear;
	-o-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear;


}

h1:hover,h1:focus {
	-webkit-animation:shakey .25s ease-in-out alternate;
	-moz-animation:shakey .25s ease-in-out alternate;
	-webkit-transform:translate3d(0,0,0);
}
h2 {
	font-weight:100;
	font-size:2em;
	color:#fff;
	text-align:center;
	border-radius:4px;
	padding:0;
	margin:0;
	line-height: 1em;
	text-shadow:0 0 5px rgba(58,93,125,1);
	transition:all .2s linear;
	-o-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear;
}
h4 {
	font-size:1.7em;
	font-weight:200;
	margin:40px 20px 10px 20px;
	transition:all .2s linear;
	-o-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear;
}
nav {
	background:#f7f7f7;
	text-align:center;
}

p {
	font-size:1.1em;
	margin: 20px 0;
}

nav ul li {
	display: block;
	color:#fff;
	font-size:1.4em;
	font-weight:200;
	color:#999;
	vertical-align:central;
}

ul li a {
	color:#B3B3B3;
	text-decoration:none;
	font-size:1.4em;
	font-weight: bolder;
	padding:6px 12px;
	transition:all .2s linear;
	-o-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear;
}

nav ul li.active:after {
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    background-color: #4A90E2;
    border-radius: 2px;
    position: absolute;
    bottom: -23px;
    left: 0;
}
nav ul li.active a{
	color:#4A90E2;
}
.navbar {
}
footer {
	color:#6d6d6d;
	text-align:center;
	font-size: 1.1em;
	line-height: 25px;
	max-width: 980px;
    margin: 0 auto;
}
footer a {
    text-decoration: none;
}
footer h4 {
    color: #313131;
    font-size: 1.1em;
    font-weight: 600;
}
footer #social {
    width: 225px;
    margin: 75px auto 50px auto;
}
footer #social a {
    padding: 35px 21px 0px 21px;
    position: relative;
}
footer #social #twitter {
    border-right: 2px solid #e6e6e6;
}
footer #twitter:before,
footer #facebook:before {
    content: '';
    display: block;
    background-size: 100%;
    background-position: center;
    position: absolute;
    top: 0;
    left: 50%;
}
footer #twitter:before {
    background-image: url('../img/twitter.png');
    height: 20px;
    width: 25px;
    margin-left: -12.5px;
}
footer #facebook:before {
    background-image: url('../img/facebook.png');
    height: 23px;
    width: 13px;
    margin-left: -6.5px;
}

pre {
	margin:20px auto 40px;
	width:70%;
	background:rgba(0,0,0,0.4);
	display:block;
	color:#fff;
	border-radius:8px;
	text-align:left;
	font-size:1.3em;
	padding:20px 30px;
	-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.39),0 1px 0 rgba(255,255,255,0.16);
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.39),0 1px 0 rgba(255,255,255,0.16);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.39),0 1px 0 rgba(255,255,255,0.16);
	transition:all .2s linear;
	-o-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear;
}
.clearfix:before,.clearfix:after {
	content:"";
	display:table;
}
.clearfix:after {
	clear:both;
}
.clearfix {
	zoom: 1;
}

.wrap {
  width: 600px;
  margin: 0 auto;
}

dl {
  color: rgba(255,255,255,0.5);
}
dl dt {
  font-weight: 600;
  line-height: 2em;
  font-size: 1.4em;
  color: #E8E6E2;
}
dl dd {
  margin-left: 0;
  font-size: 1.1em;
  line-height: 1.4em;
}

/* 404 page */
body#unsupported-page,
body#not-found-page {
	background: #f8f8f8;
	text-align: center;
}
#unsupported-page h2,
#not-found-page h2 {
	font-size: 60px;
	color: #626262;
	text-shadow: none;
	font-weight: 600;
	margin: 50px 0 20px 0;
	line-height: normal;
}
#not-found-page a.return-home {
	display: inline-block;
	color : #9a9a9a;
	letter-spacing: .04em;
	margin: 0 0 100px 0;
	text-decoration: none;
	border-bottom: 1px solid #9a9a9a;
}
#unsupported-page p,
#not-found-page a.return-home p {
	font-size: 25px;
	font-weight: 100;
	color: #9a9a9a;
	margin: 0;
}
.astronaut-problem-wrapper {
	width: 664px;
	height: 455px;
	margin: 0 auto 50px;
	background: url(../img/space.gif) no-repeat center center;
	position: relative;
}
.astronaut-problem-wrapper .astronaut-problem {
	left: 155px;
	top: 30px;
	position: absolute;
	-webkit-transform: translateY(10px);
	-webkit-animation: astronautHover 5s infinite ease;
	-moz-transform: translateY(10px);
	-moz-animation: astronautHover 5s infinite ease;
	transform: translateY(10px);
	animation: astronautHover 5s infinite ease;
}
#unsupported-page .browsers {
	width: 200px;
	height: 60px;
	margin: 30px auto 10px;
}
#unsupported-page .browsers .browser-icon {
	width: 60px;
	height: 60px;
	float: left;
	display: block;
}
#unsupported-page .browsers .browser-icon~.browser-icon {
	margin-left: 10px;
}
.browser-icon.safari {
	background: url(../img/safari.png);
}
.browser-icon.chrome {
	background: url(../img/chrome.png);
}
.browser-icon.firefox {
	background: url(../img/firefox.png);
}

@-webkit-keyframes astronautHover {
	0% {
		-webkit-transform: translateY(10px) translateX(0);
	}
	50% {
		-webkit-transform: translateY(-10px)  translateX(-10px);
	}
	100% {
		-webkit-transform: translateY(10px)  translateX(0);
	}
}
@-moz-keyframes astronautHover {
	0% {
		-moz-transform: translateY(10px) translateX(0);
	}
	50% {
		-moz-transform: translateY(-10px)  translateX(-10px);
	}
	100% {
		-moz-transform: translateY(10px)  translateX(0);
	}
}
@keyframes astronautHover {
	0% {
		transform: translateY(10px) translateX(0);
	}
	50% {
		transform: translateY(-10px)  translateX(-10px);
	}
	100% {
		transform: translateY(10px)  translateX(0);
	}
}